/*COLOR PRIMARIO*/
/*COLORES ELEMENTOS Y TEXTOS*/
$color-primario: #444!default;
$color-primario-l:#6f6f6f!default;
$color-primario-o:#1d1d1d!default;
$color-secundario: #e53935!default;
$color-secundario-l:#f44336!default;
$color-secundario-o:#ab000d!default;
/*Textos Especiales*/
$texto-semioscuro: #212121!default;
$texto-semilight:#bdbdbd!default;