/*COLOR PRIMARIO*/

$color-primario: #616161!default;
$color-primario-light: #8e8e8e!default;
$color-primario-oscuro: #373737!default;
$color-secundario: #e64a19!default;
$color-secundario-light: #ff833a!default;
$color-secundario-oscuro: #ac1900!default;
$texto-semioscuro: #212121!default;
