
// Media Query Mixins

//Pequeño
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

//Medio
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
//Grande
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}
//Muy Grande
@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

@mixin easeIn {
    transition: ease-in 200ms;
}

@mixin linear-gradient($color1, $color2){
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, $color1 , $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, $color1 , $color2); /* Standard syntax */
}
