
.b-navbar-brand {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.titulo {
    font-family: 'Montserrat';  
    transition: ease-in 400ms;
    color:white;

  &:hover {
      color:$color-secundario!important;
  }

}
.bg-primary{
    background-color: $color-primario!important;
}
.popover-header{
    text-align: center;
    font-weight: 600;
    font-family: 'Quicksand';
    cursor: context-menu;
}
.contactoPop {
    font-family: 'Montserrat';
    color: $texto-semioscuro;
    font-size: 1.2em;
    transition: ease-in 300ms;
    &:hover{
        text-decoration: none;
        color: $color-secundario-l;
    }
}
.navbar-dark .navbar-nav .nav-link{
    font-family: 'Montserrat';
    @include easeIn();

    &:hover{
        color:$color-secundario;
    }
}
.navbar-nav .Proyectos{
    font-family: 'Montserrat';
    text-align: right;
    @include easeIn();
    
    &:hover{
        font-size:1.2em;
        color:$color-secundario!important;
    }
}

.Proyectos>a:hover{
    color:$color-secundario;
    
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: unset;
}
@include mediaSm {
    .titulo {
        margin-left:0px!important;
    }
    .linksMenu {
        margin-right: 0px!important;
    }
    .navbar-nav .Proyectos{
        text-align:center;
    }
    .dropdown-menu{
        background-color: #888;
    }
    .navbar-nav .Proyectos{
        transform: scale(1)!important;
    }
    .dropdown-item:hover, .dropdown-item:focus{
        background-color: unset;
    }
}